<%- if flash[:notice] %>
  <div class='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>

<h1><%= @cdnjs.name %></h1>
<p><%= @cdnjs.description %></p>

<%= form_tag "/jail/cdnjs/#{@cdnjs.name}" do %>
  <fieldset>
    <legend>Files To Install (uncheck unnecesseray)</legend>
    <%- @cdnjs.tree.each do |file| %>
      <%- if file.type == "dir" %>
        <h3><%= file.name %></h3>
      <% end %>
      <%- if file.type == "file" %>
        <p>  
          <%= label_tag file.name %>
          <%= check_box('files', file.path, {:checked => true}, checked_value="1", unchecked_value="0") %>
        </p>
      <% end %>
    <% end %>
    <%= submit_tag "Install" %> 
  </fieldset>
<% end %>

<p>homepage: <%= link_to @cdnjs.homepage, @cdnjs.homepage %></p>
<%- unless @cdnjs.repositories.blank? %>
  <%- @cdnjs.repositories.map(&:url).each do |url| %>
    <p>repository : <%= link_to url, url %></p>
  <% end %>
<% end %>
