<!DOCTYPE html>
<html>
<head>
  <title>Jail</title>
  <%= stylesheet_link_tag    "jail/application", :media => "all" %>
  <%#= javascript_include_tag "jail/application" %>
  <%#= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <h1>
      <%=link_to "Jail", root_path %> 
      <span class='smaller'> - Puts your Js in Rails</span>
    </h1>
    <div style="text-align: center;">
      <%= link_to "Jail's list", "/jail/" %>
      |
      <%= link_to "Cdnjs's List", "/jail/cdnjs" %>
    </div>
    
  </div>

  <div id="page">
    <%= yield %>
  </div>

</body>
</html>
